*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}


.section{
    min-height: 100vh;
    margin-top: 100px;
}

.container{
    /* background-color: aliceblue; */
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    text-align: center;
    color: blueviolet;
    font-size: 40px;
    margin-bottom: 50px;

}

.accordian{
    background-color: aqua;
    max-width: 700px;
    margin: auto;
}

.accordian_Item{
    border: 1px solid red;
    background-color: blanchedalmond;
    padding: 20px;
}

.accordian_Title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;
}

.accordian_Title h3{
    flex: 1;
}

.accordian_Title i{
    font-size: 20px;
    cursor: pointer;
}

.accordian_content{
    display: none;
}

.accordian_Title.active + .accordian_content{
    display: block;
}


.accordian_Title.active i{
    transform: rotate(180deg);
}