*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
}

.left{
    height: 100vh;
    width: 50vw;
    border: 2px solid black;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.right{
    height: 100vh;
    width: 50vw;
    border: 2px solid black;
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_center{
    height: 300px;
    width: 300px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.hex-color-value, .rgb-color-value {
    font-size: 30px;
    font-weight: bold;
    
}
.right_center{
    height: 300px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.create{
    margin-top: 5px;
    height: 20px;
    width: auto;
    color: black;
}

.right_center button{
    padding: 5px;
    background-color: rgb(186, 160, 28)
}